# .github/workflows/android-build.yml
name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Make gradlew executable
      run: chmod +x ./gradlew

    - name: Build with Gradle
      run: ./gradlew assembleDebug --warning-mode none  # IGNORE DEPRECATION WARNINGS

    - name: Upload build reports
      uses: actions/upload-artifact@v4
      with:
        name: build-reports
        path: build/reports/
        retention-days: 7

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: tempo-news-app
        path: app/build/outputs/apk/debug/app-debug.apk
        retention-days: 7 
 
